@using Library.Models

@{
    Layout = "_Layout";
}

<p>@Model.Name</p>
<ul>
  @foreach(PatronCopy join in @Model.Copies)
  {
    <li>@Html.ActionLink(join.Copy.Book.Title,"Details","Books", new{id = join.Copy.Book.Id}) : Due On - @join.DueDate.Month / @join.DueDate.Day / @join.DueDate.Year
        @if(join.Returned == false)
        {
          @using(Html.BeginForm("Return","Patrons",FormMethod.Post, new {@class = "inline"}))
          {
            @Html.Hidden("patroncopyid",@join.Id);
            <input type="submit" value="Return" class="inline">
          } 
        }
    </li>
  
  }
</ul>


